body {
  margin: 0;
  background: #1B244A;
}

@font-face {
  font-family: 'cursedTimer';
  src: url(fonts/CursedTimerUlil-Aznm.ttf);
}

.container {
  display: flex;
  justify-content: space-around;
}

.btn-add {
  font-family: 'cursedTimer';
  color: #9AABD8;
  background: none;
  border: 2px solid #9AABD8;
  border-radius: 5px;
  width: 45px;
  height: 45px;
}

#header {
  font-family: Verdana;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #EEEEEE;
}

.score {
  margin: 25px 0px;
  background: #080001;
  color: #F94F6D;
  font-family: 'cursedTimer';
  font-size: 90px;
  width: 155px;
  height: 120px;
  border-radius: 5px;
  text-align: center;
  line-height: 127px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}
